.box1 {
  text-align: center;
  padding: 1em;
  text-decoration: none;
  margin: 1em; }
  .box1 .box1-a {
    text-align: left;
    padding-top: 1em;
    font-family: Sans-Serif; }

.box1-a1 {
  color: #5A6167;
  font-size: 16px;
  padding-left: 1em; }

.box1-a2 {
  color: #787878;
  padding-left: 10px; }

.box1-a3 {
  padding-left: 10px; }

.box1-a4 {
  color: #787878;
  padding-left: 10px; }

.box1-b {
  background-image: url("https://images.unsplash.com/2/05.jpg?crop=entropy&dpr=2&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=550");
  padding: 6em;
  color: #FFFFFF;
  font-size: 12px;
  font-family: Sans-Serif;
  margin: 0 auto; }

.choose-box {
  font-family: Sans-Serif;
  color: #000000;
  width: 13px;
  padding: 3px;
  border: 1px solid #939393;
  border-radius: 15px;
  margin: 1px;
  font-weight: bold; }

.box2 {
  text-align: center;
  border: 1px solid #939393;
  margin: 1em;
  margin-bottom: 2em; }
  .box2 .box2-a {
    background-color: #488148;
    color: #FFFFFF;
    line-height: 2em;
    padding: 1em;
    font-family: Sans-Serif; }
  .box2 section:first-child h2:first-child {
    font-size: 16px; }
  .box2 section:first-child p:nth-child(2) {
    font-size: 5em; }
  .box2 section:first-child h2:nth-child(3) {
    font-size: 16px;
    color: #939393; }

.box2-b-g {
  background-color: #F7F7F7;
  color: #939393;
  border-bottom: 1px solid #939393;
  line-height: 2em;
  font-family: Sans-Serif; }
  .box2-b-g section:p {
    border-bottom: 1px solid #939393; }

.box2-h {
  background-color: #FFFFFF;
  color: #111111;
  padding: 2em; }

.box-text {
  border-bottom: 1px solid #E5E5E5; }

.box3 {
  text-align: center;
  border: 1px solid #939393;
  margin: 1em;
  margin-bottom: 2em; }
  .box3 .box3-a {
    color: #FFFFFF;
    background-color: #2C4985;
    line-height: 2em;
    padding: 3em;
    font-family: Sans-Serif; }
  .box3 section:first-child h2:first-child {
    font-size: 16px; }
  .box3 section:first-child p:nth-child(2) {
    font-size: 5em; }
  .box3 section:first-child h2:nth-child(3) {
    font-size: 16px;
    color: #939393; }

.box3-b-g {
  background-color: #F7F7F7;
  color: #939393;
  border-bottom: 1px solid #939393;
  line-height: 2em;
  font-family: Sans-Serif; }

.box3-h {
  background-color: #FFFFFF;
  color: #111111;
  padding: 2em; }

.box4 {
  text-align: center;
  border: 1px solid #939393;
  margin: 1em;
  margin-bottom: 2em; }
  .box4 .box4-a {
    background-color: #111111;
    color: #FFFFFF;
    line-height: 2em;
    padding: 3em;
    font-family: Sans-Serif; }
  .box4 section:first-child h2:first-child {
    font-size: 16px; }
  .box4 section:first-child p:nth-child(2) {
    font-size: 5em; }
  .box4 section:first-child h2:nth-child(3) {
    font-size: 16px;
    color: #939393; }
  .box4 .box4-b-g {
    background-color: #F7F7F7;
    color: #939393;
    line-height: 2em;
    padding-top: 3em;
    border-bottom: 1px solid #939393;
    font-family: Sans-Serif; }
  .box4 .box4-h {
    background-color: #FFFFFF;
    color: #111111;
    padding: 2em; }

.box5 {
  text-align: left;
  margin: 1em; }

.box5-text1 {
  font-family: Sans-Serif; }

.box5-text2 {
  font-family: Sans-Serif; }

.box6 {
  background-color: #111111;
  text-align: center;
  margin: 0 auto;
  font-family: Sans-Serif;
  padding: 2em; }
  .box6 .foot-text {
    text-decoration: underline;
    color: #FFFFFF; }

.foot-text2 {
  color: #939393; }

@media (min-width: 479px) {
  section.box1 {
    width: 779px;
    margin: 0 auto; } }
@media (min-width: 479px) {
  div.box2 {
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 1em; }

  div.box3 {
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 1em; }

  div.box4 {
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 1em; }

  div.box5 {
    max-width: 750px;
    margin: 0;
    margin-bottom: 1em; }

  footer.box6 {
    width: 767px;
    margin: 0 auto; } }
@media (min-width: 767px) {
  section.box1 {
    width: 977px;
    margin: 0 auto; }
    section.box1 .box1-b {
      max-width: 977px;
      margin: 0 auto; }

  div.box2 {
    width: 30%;
    max-width: 320px;
    margin: 0.5em;
    float: left;
    padding: 0em; }
    div.box2 .box2-a {
      padding: 2em; }

  div.box3 {
    width: 30%;
    max-width: 320px;
    margin: 0.5em;
    float: left;
    padding: 0em; }
    div.box3 .box-3a {
      padding: 0em; }

  div.box4 {
    width: 30%;
    max-width: 320px;
    margin: 0.5em;
    float: left;
    padding: 0em; }
    div.box4 .box4-a {
      padding: 1em; }

  div.box5 {
    clear: left; }

  div.box5-text1-1 {
    float: left;
    max-width: 20em;
    margin: 0 auto; }

  div.box5-text1-2 {
    float: left;
    max-width: 20em;
    margin: 0 auto; }

  div.box5-text1-3 {
    float: left;
    max-width: 20em;
    margin: 0 auto; }

  div.box5-text1-4 {
    float: left;
    max-width: 20em;
    margin: 0 auto; }

  footer.box6 {
    clear: left; } }

/*# sourceMappingURL=style.css.map */
